<h1>Editing weekly plan</h1>

<%= render "form", weekly_plan: @weekly_plan %>

<br>

<div>
  <%= link_to "Show this weekly plan", @weekly_plan %> |
  <%= link_to "Back to weekly plans", weekly_plans_path %>
</div>
